{% extends 'base.html'%}
{% load static %}
{% block content %}
<div>
	<section class="single-page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Portfolio</h2>
					<ol class="breadcrumb header-bradcrumb justify-content-center">
						<li class="breadcrumb-item"><a href="index-2.html" class="text-white">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Portfolio</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	{% include 'work.html' %}

	{% include 'testominals.html' %}

</div>
{% endblock %}